-- Migration: Add reviewed columns to reconciliation_sessions
-- Date: 2026-01-31

ALTER TABLE reconciliation_sessions ADD COLUMN reviewed INTEGER NOT NULL DEFAULT 0;
ALTER TABLE reconciliation_sessions ADD COLUMN reviewed_at TEXT;
